



body {
	font:normal .8em/1.5em Arial, Helvetica, sans-serif;
	color:#666;
	background:#fefefe;
	text-align:left;
}

/*-----------------------------------------------------------*/
/*------------------------- Header --------------------------*/

header {
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d3d3d3)); 
	background: -moz-linear-gradient(top,  #fefefe,  #d3d3d3);
	border-bottom: 1px solid #CCC;
	margin: 0;
	padding: 0.5em;
	position: fixed;
	width: 100%;
}

	header #avatar,
	header #logo,
	header #titulo_nav {
	  display: inline-block;
	  vertical-align: top;
	}
	
	header #avatar,
	header #logo {
	  width: 6.5%;
	}
	
	header #avatar a {
	  display: block;
	  text-decoration: none;
	}
	
	header #titulo_nav {
	  width: 85%;
	  text-align: center;
	}
	
	header nav {
	  margin-top: 1em;
	  margin-bottom: 1em;
	}
	
	header #avatar a {
	  display: block;
	  text-decoration: none;
	}
	
	header #titulo_nav {
	  width: 85%;
	  text-align: center;
	}
	
	/*-----------------------------------------------------------*/
	/*--------------------------- NAV ---------------------------*/	
	header nav {
	  margin-top: 1em;
	  margin-bottom: 1em;
	  display:inline-block;
	  position:fixed;
	  text-align:center;
	}	
	
header #titulo_nav #nav {
	margin: 0;
	padding: 1px 1px 0;
	line-height: 100%;
	border-radius: 1em;

	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	background: #fefefe;
	background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#7a7a7a)); 
	background: -moz-linear-gradient(top,  #656565,  #7a7a7a); 
}

header #titulo_nav #nav li {
	margin: 0 2px;
	padding: 0 0 1px;
	float: left;
	position: relative;
	list-style: none;
}

header #titulo_nav #nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  10px 10px;
	margin: 0;
	-webkit-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

header #titulo_nav #nav .current a, #nav li:hover > a {
	background: #4B4B4B;  
	background: -webkit-gradient(linear, left top, left bottom, from(#333)), to(#4B4B4B)); 
	background: -moz-linear-gradient(top,  #333,  #4B4B4B); 

	color: #000;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(46, 46, 46, .8);
	
}

header #titulo_nav #nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
header #titulo_nav #nav ul a:hover {
	background: #0399d4 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important;
	background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important;

	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

header #titulo_nav #nav ul {
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf));
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf);

	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

header #titulo_nav #nav li:hover > ul {
	display: block;
}

header #titulo_nav #nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

header #titulo_nav #nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}

header #titulo_nav #nav ul ul {
	left: 181px;
	top: -3px;
}


header #titulo_nav #nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}

header #titulo_nav #nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}


header #titulo_nav #nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
header #titulo_nav #nav {
	display: inline-block;
}






/* ==========================================================================

   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
  color: #00f;
}
a:visited {
  color: #00d;
}


