@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600|Open+Sans+Condensed:300,700,300italic);

/* --/ Contenido /-- */ 

* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: 'Open Sans', sans-serif; font-weight: 400;
	background: url(../images/skin/bg_v1.jpg) repeat #f9f9f9;
	color: #555;
}
a {
	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #444;
}
img {
	width: 100%;
}
header {
	background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#fefefe));
	background: -moz-linear-gradient(top,  #F8F8F8,  #fefefe);
	-webkit-border-radius:0em;
	-moz-border-radius:0em;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	border-bottom: 1px solid #4C9CF1;
	height: 76px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
	header figure #logo img { width:100% }
	header #avatar img { border-radius: 6px; border: solid thin #d4d4d4; }
	header figure img { width: 100%; }
	header #avatar, header #logo, header #titulo_nav {
		display: inline-block;
		vertical-align: top;
	}
	header #logo { 
		display: block;
		float: left;
		margin: 10px;
		width: 20%; 
	}
	header #avatar { 
		float: right;
		margin-top:10px;
		margin-left:2px;
		margin-right:20px;
		width: 4%; 
	}
	
	/*Animación*/
	header #ex3 a {
		line-height:0px;
		color:transparent;
		font-size: 10px;
		font-style:normal;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
	}
	header #ex3 a:hover {
		line-height: 4em;
		color: #575858;
	}
	header #ex3 p {
		position:absolute;
		float:right;
		top:14px;
		right:80px;
		font-size:15px;
		font-style:normal;
	}
	header nav ul li a:hover {
		border-bottom-color:#09C;
	}
	header nav {
		display:inline-block;
		float:right;
		margin-right:150px;
		text-align:left;
	}

#menu-icon {
	border-radius:4px 4px 0 0;
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../images/menu-icon.png) center;
}
a:hover#menu-icon {
	background-color: #444;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}
ul {
	list-style: none;
}
li {
	display: inline-block;
	float: left;
	padding: 10px
}
.current {
	color: #2262AD;
}
section {
	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px
}
h1 {
	font-size: 2em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0;
}
p {
	line-height: 1.45em;
	margin-bottom: 20px;
}





/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
header {
	position: absolute;
}
	header #logo { 
		display: block;
		float: left;
		margin: 10px;
		width: 40%; 
	}
	header #avatar { 
		float:right;
		margin-right:80px;
		width:8%; 
	}
	/*Animación*/
	header #ex3 a {
		line-height:0px;
		color:transparent;
		font-size: 10px;
		font-style:normal;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
	}
	header #ex3 p {
		position:absolute;
		float:right;
		top:14px;
		right:140px;
		font-size:15px;
		font-style:normal;
	}

#menu-icon {
	display: inline-block;
	top:37px;
	left:580px;
	position:fixed;
	border-bottom-color:#06C;
}
nav ul, nav:active ul {
	background: #fff;
	border-top:#06C solid 1px;
	display:none;
	font-size:0.6em;
	line-height:0.5;
	left:492px;
	position:absolute;
	padding:1px 0 1px 0;
	text-align:left;
	top:66px;
	width:20%;
}
nav li {
	text-align:left;
	width: 100%;
	padding: 10px;
	margin: 0;
}
nav:hover ul { 
	border-radius:0 0 4px 4px;
	display: block;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}





